@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

nav {
	padding: 5px;
	text-align: center;
	width: 100%;
	box-shadow: 6px 3px 12px 1px rgba(61, 44, 141, 0.67);
	-webkit-box-shadow: 6px 3px 12px 1px rgba(61, 44, 141, 0.67);
	-moz-box-shadow: 6px 3px 12px 1px rgba(61, 44, 141, 0.67);
}

.navigation {
	z-index: 3000;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li:not(:first-child) {
	margin-left: 50px;
}

.navbar a {
	color: inherit;
	text-decoration: none;
}

.navbar a:hover {
	color: #916bbf;
	transition: 0.3s;
}

.head {
	margin-top: 90px;
	margin-bottom: 15px;
	z-index: 1;
}

.hero-section {
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
}

.hero-section h2 {
	margin-bottom: 10px;
}

.hero-section li:not(:last-child) {
	margin-bottom: 15px;
}

.hero-section div {
	position: relative;
	top: 130px;
}

.foot {
	position: relative;
	width: 100vw;
	margin-left: 0;
	margin-top: 40px;
	padding-top: 29px;
	padding-bottom: 29px;
	background-color: #1c0c5b;
	margin-bottom: 0;
	box-shadow: 3px -2px 5px 1px rgba(28, 12, 91, 0.7);
	-webkit-box-shadow: 3px -2px 5px 1px rgba(28, 12, 91, 0.7);
	-moz-box-shadow: 3px -2px 5px 1px rgba(28, 12, 91, 0.7);
	bottom: 0;
}

.foot h5 {
	text-align: center;
	color: whitesmoke;
}

.myRow {
	margin-top: 30px;
	margin-bottom: 20px;
}
